BasedOnStyle: Google                         # 基于 Google 的代码风格
UseTab: Never                                # 不使用 Tab，使用空格缩进
IndentWidth: 4                               # 缩进宽度为 4 个空格
TabWidth: 4                                  # Tab 的宽度为 4 个空格
SortIncludes: false                          # 不自动排序 include 头文件
ColumnLimit: 120                             # 每行最大字符数为 120
AllowShortIfStatementsOnASingleLine: false   # 不允许单行短 if 语句
IndentCaseLabels: true                       # case 标签缩进
AccessModifierOffset: -4                     # 访问修饰符偏移量为 -4
NamespaceIndentation: All                    # 所有命名空间都缩进
FixNamespaceComments: false                  # 不自动修正命名空间注释
AllowShortFunctionsOnASingleLine: Empty      # 仅允许空函数单行显示
AllowShortLoopsOnASingleLine: false          # 不允许短循环单行显示
DerivePointerAlignment: false                # 不自动推断指针对齐方式
PointerAlignment: Right                      # 指针符号靠右对齐（如 int* p）
BreakBeforeBraces: Custom                    # 使用自定义的大括号换行风格
SpacesInParentheses: true                    # 括号内添加空格
SpacesInAngles: true                         # 尖括号内添加空格
SpacesInSquareBrackets: true                 # 方括号内添加空格
SpacesInContainerLiterals: true              # 容器字面量内添加空格
AlignConsecutiveMacros: true                 # 连续宏定义对齐
AlignConsecutiveAssignments: true            # 连续赋值语句对齐
BraceWrapping:                               # 大括号换行相关设置
  AfterFunction: true                        # 函数定义后