[core]
	editor = \"C:\\Users\\11409\\AppData\\Local\\Programs\\Microsoft VS Code\\bin\\code\" --wait
[user]
	name = leokayson
	email = 1140933692@qq.com
[alias] 
	co = checkout 
	cp = cherry-pick 
	br = branch 
	ci = commit 
	cm = commit -m 
	ss = status 
	sl = stash list 
	sp = stash pop 
	sd = stash drop 
	dt = difftool 
	sss = ls-files -m -o --exclude-standard 
	cnm = commit --no-edit --amend 
	shn = show --name-only --pretty="" 
	unstage = reset HEAD -- 
	glog = log --graph 
	hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short 
[core] 
	editor = code --wait 
	autocrlf = input
[diff] 
	tool = vscode 
[merge] 
	tool = vscode 
[difftool "vscode"]
	cmd = code --wait --diff $LOCAL $REMOTE 
[mergetool "vscode"] 
	cmd = cursor --wait $MERGED 
[color] 
	ui = auto 
	branch = auto 
	diff = auto 
	status = auto
[color "branch"] 
	current = yellow reverse 
	local = yellow 
	remote = green 
[color "diff"] 
	meta = yellow bold 
	frag = magenta bold 
	old = red bold 
	new = green bold 
[color "status"] 
	added = yellow 
	changed = green 
	untracked = cyan 
[format] 
	numbered = auto 
[http] 
	sslVerify = false 
	proxy = http://127.0.0.1:12688 
	postBuffer = 524288000 
[https] 
	sslVerify = false 
	proxy = http://127.0.0.1:12688 
	postBuffer = 524288000 
[credential "helperselector"]
	selected = manager
